<div class="page">
    <div class="page_initial">
        <div class="page_initial_body">
            <div class="header">
                <h1>Dentitox Pro</h1>
                <h2>Attention! Get Special 90% Discount Today</h2>
            </div>

            <div class="image">
                <img class="detitox" src="../../assets/icons/Detitox-initial.svg" alt="">
                <img class="rating-star" src="../../assets/icons/Rating-star.svg" alt="">
            </div>

            <button class="button">Click here to get offer</button>
        </div>
    </div>
    <div class="page_additional">
        <div class="page_additional_fisrt-body">
            <div class="fisrt-box">
                <div class="header">
                    <h1>Have you ever felt insecure about your smile?</h1>
                </div>

                <div class="product-one">
                    <img src="../../assets/icons/Detitox.png" alt="">
                    <span> Have you ever had to hide your teeth in photos or in conversations with friends and family? </span>
                </div>
                <div class="product-two">
                    <span> Unfortunately, lack of oral hygiene can lead to dental problems and affect the self-esteem of many people. </span>
                </div>

            </div>
            <div class="second-box">
                <div class="box-header">
                    <span>Fortunately, there is now an effective solution to keep your teeth healthy and brilliant - Dentitox Pro! This revolutionary product is designed to </span>
                    <img src="../../assets/icons/Sorriso.svg" alt="">
                </div>

                <div class="product-two">
                    <span>provide a complete solution to your dental problems, from preventing tooth decay to whitening your teeth.</span>
                </div>
            </div>
        </div>
        <div class="page_additional_second-body"></div>

    </div>
    <div class="page_contacts">
        <div class="page_contacts_body">
            <div class="header">
                <div class="persona">
                    <img src="../../assets/icons/Avatar.png" alt="">
                    <div class="span">
                        <h1>Filipe Mariz</h1>
                        <h2>Business account</h2>
                    </div>
                </div>
                <div class="logo">
                    <img src="../../assets/icons/WhatsAppLogo.png" alt="">
                </div>
            </div>

            <div class="message-box">
                <span>Do you have any questions about the product? Would you like to speak with our salesperson? Talk to him on WhatsApp.</span>
            </div>
            <div class="message-box message-sended" *ngIf="isSendMessage">
                <span>{{ message }}</span>
            </div>

            <div class="input-box">
                <input type="text" value="{{ message }}" disabled>
                <button (click)="openWhatsApp()">
                    <img src="../../assets/icons/Send.png" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="page_seal">
        <div class="page_seal_body">
            <div class="product-image">
                <img src="../../assets/icons/Detitox.png" alt="">
            </div>
            <div class="offer">
                <h1>SPECIAL OFFER FOR YOU!</h1>
                <h2>ONLY TODAY FOR $20.00!!</h2>
            </div>
            <button>Click here to get Dentitox Pro </button>
        </div>
    </div>
</div>