@import './desktop.component.scss';

.page {
    scroll-behavior: auto;
    position: relative;

    &_initial {
        background: linear-gradient(178.83deg, #E0FFE9 0%, #FBC19D 92.88%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
        width: 100vw;
        height: 95vh;
        position: relative;
        margin-left: -8px;

        &_body {
            width: 100vw;
            height: 95vh;
            margin-top: 1em;
            position: absolute;

            >.header {
                h1 {
                    font-family: 'Inria Serif';
                    font-size: 40px;
                    text-align: center;
                    color: #B9553E;
                }

                h2 {
                    font-family: 'Inria Serif';
                    font-size: 20px;
                    text-align: center;
                    color: #2A754E;
                }
            }

            >.image {
                margin-top: 12%;
                align-items: center;

                > .detitox {
                    margin-top: 1%;
                }

                >.rating-star {
                    margin-top: 3vh;
                    margin-left: 35vw;
                }
            }

            > .button {
                margin-left: 12%;
                width: 80vw;
                height: 7vh;
                margin-top: 20%;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                background: #B85D46;
                color: #FFFFFF;
                font-family: 'Inria Serif';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }
            >.button:hover { background: #8a4533; }
            >.button:active { background: #B85D46; }
        }
    }

    &_additional {
        background: #FFEFE4;
        width: 100vw;
        height: 90vh;
        position: relative;
        margin-left: -8px;

        &_fisrt-body {
            width: 100vw;

            .fisrt-box {
                width: 100vw;
                height: 30vh;
                background: #00875F;
                position: absolute;

                .header {
                    margin-top: 2%;

                    h1 {
                        font-family: 'Inria Serif';
                        font-size: 32px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }

                .product-one {
                    margin-left: 5vw;
                    display: flex;

                    img {
                        margin-left: 1%;
                    }

                    span {
                        font-family: 'Inria Serif';
                        font-size: 15px;
                        color: #FFFFFF;
                        margin-top: 5vh;
                        width: 50%;
                        margin-left: 5vw;
                    }
                }

                .product-two {
                    width: 50%;
                    margin-left: 5vw;
                    display: flex;
                    position: absolute;
                    margin-top: -14vh;
                    margin-left: 49vw;

                    span {
                        font-family: 'Inria Serif';
                        font-size: 15px;
                        color: #B85D46;
                    }
                }
            }

            .second-box {
                width: 100vw;
                height: 40vh;
                position: absolute;
                margin-top: 47vh;

                .box-header {
                    width: 100vw;
                    height: 17vh;
                    background: #B85D46;
                    position: absolute;
                    display: flex;

                    span {
                        font-family: 'Inria Serif';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        color: #FFFFFF;
                        width: 40%;
                        margin-left: 4vw;
                        margin-top: 4vw;
                    }

                    img {
                        position: absolute;
                        float: right;
                        margin-left: 40vw;
                        width: 64%;
                    }
                }

                .product-two {
                    position: absolute;
                    width: 40%;
                    margin-left: 4vw;
                    margin-top: 36.5vw;
                    font-family: 'Inria Serif';
                    font-weight: 400;
                    font-size: 15px;
                    color: #B85D46;
                }
            }
        }

        &_second-body {
            width: 100vw;
            height: 90vh;
            background: radial-gradient(48.46% 48.46% at 20.93% 73.75%, #2A2825 0%, #4D4646 100%);
            position: absolute;
            margin-top: 164vw;

            .header {
                font-family: 'Inria Serif';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                margin-left: 20vw;
                margin-top: 3vh;
                color: #FFFFFF;
            }

            .body {
                display: flex;

                img {
                    margin-left: 5vw;
                    width: 40%;
                }

                span {
                    width: 40vw;
                    margin-left: 6vw;
                    margin-top: 3vh;
                    font-family: 'Inria Serif';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    color: #FFFFFF;
                }
            }

            .button {
                margin-left: 12%;
                width: 80vw;
                height: 7vh;
                margin-top: 6%;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                background: #B85D46;
                color: #FFFFFF;
                font-family: 'Inria Serif';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }

            >.button:hover { background: #8a4533; }
            >.button:active { background: #B85D46; }
        }
    }

    &_contacts {
        background: #D9D9D9;
        width: 100vw;
        height: 90vh;
        position: relative;
        margin-left: -8px;
        margin-top: 70vh;

        &_body {
            background: #F5ECE5;
            width: 100vw;
            height: 100vh;

            > .header {
                width: 100vw;
                height: 11vh;
                background: #00875F;
                display: flex;

                > .persona {
                    display: flex;
                    width: 50vw;
                    height: 10vh;
                    margin-top: 1%;

                   img {
                        border-radius: 100px;
                        margin-top: 2%;
                        margin-left: 2%;
                    }

                    > .span {
                        margin-left: 25vw;
                        position: absolute;
                        color: #FFFFFF;

                        h1 {
                            position: absolute;
                            width: 185px;
                            height: 39px;
                            font-family: 'Inria Serif';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 29px;
                        }

                        h2 {
                            position: absolute;
                            width: 185px;
                            height: 39px;
                            margin-top: 42px;
                            font-family: 'Inria Serif';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                }

                > .logo {
                    margin-top: 5%;
                    margin-left: 30vw;
                }

            }

            > .message-box {
                width: 70vw;
                position: absolute;
                background: #FFFFFF;
                margin-left: 7vw;
                margin-top: 3vh;
                border-radius: 10px;
                padding: 10px;
                color: #677B6A;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            > .message-sended {
                background: #00875F !important;
                margin-top: 16vh !important;
                margin-left: 19vw;
                color: #FFFFFF;
            }

            > .input-box {
                margin-top: 72vh;
                display: flex;

                input {
                    width: 65vw;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border: none;
                    margin-left: 7vw;
                    padding-left: 10px;
                    color: #677B6A;
                }

                button {
                    width: 50px;
                    height: 50px;
                    margin-left: 5%;
                    border-radius: 100%;
                    border: none;
                    background: #00875F;
                }

                button:hover {
                    background: #016446;
                }
            }
        }
    }

    &_seal {
        background: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        position: relative;
        margin-left: -8px;

        &_body {
            width: 90vw;
            height: 95vh;
            margin-left: 5%;
            position: absolute;

            > .product-image {
                margin-left: 25%;
                margin-top: 10%;
            }

            > .offer  {
                margin-top: 10%;

                h1 {
                    width: 343px;
                    height: 96px;
                    left: 54px;
                    top: 315px;
                    font-family: 'Inria Serif';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    text-align: center;
                    color: #B85D46;
                }

                h2 {
                    width: 343px;
                    top: 450px;
                    font-family: 'Inria Serif';
                    font-style: normal;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            button {
                margin-left: -1%;
                width: 80vw;
                height: 7vh;
                margin-top: 20%;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                background: #B85D46;
                color: #FFFFFF;
                font-family: 'Inria Serif';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}
