@import './desktop.component.scss';

.page {
    scroll-behavior: auto;
    position: relative;

    &_initial {
        background: #D9D9D9;
        width: 100vw;
        height: 80vh;
        position: relative;
        margin-left: -8px;
        margin-top: 13%;
    }

    &_additional {
        background: #8a8989;
        width: 100vw;
        height: 90vh;
        position: relative;
        margin-left: -8px;
    }

    &_contacts {
        background: #D9D9D9;
        width: 100vw;
        height: 90vh;
        position: relative;
        margin-left: -8px;

        &_body {
            background: #F5ECE5;
            width: 100vw;
            height: 100vh;

            > .header {
                width: 100vw;
                height: 11vh;
                background: #00875F;
                display: flex;

                > .persona {
                    display: flex;
                    width: 50vw;
                    height: 10vh;
                    margin-top: 1%;

                   img {
                        border-radius: 100px;
                        margin-top: 2%;
                        margin-left: 2%;
                    }

                    > .span {
                        margin-left: 25vw;
                        position: absolute;
                        color: #FFFFFF;

                        h1 {
                            position: absolute;
                            width: 185px;
                            height: 39px;
                            font-family: 'Inria Serif';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 29px;
                        }

                        h2 {
                            position: absolute;
                            width: 185px;
                            height: 39px;
                            margin-top: 42px;
                            font-family: 'Inria Serif';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                }

                > .logo {
                    margin-top: 5%;
                    margin-left: 30vw;
                }

            }

            > .message-box {
                width: 70vw;
                position: absolute;
                background: #FFFFFF;
                margin-left: 7vw;
                margin-top: 3vh;
                border-radius: 10px;
                padding: 10px;
                color: #677B6A;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            > .message-sended {
                background: #00875F !important;
                margin-top: 16vh !important;
                margin-left: 19vw;
                color: #FFFFFF;
            }

            > .input-box {
                margin-top: 72vh;
                display: flex;

                input {
                    width: 65vw;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border: none;
                    margin-left: 7vw;
                    padding-left: 10px;
                    color: #677B6A;
                }

                button {
                    width: 50px;
                    height: 50px;
                    margin-left: 5%;
                    border-radius: 100%;
                    border: none;
                    background: #00875F;
                }

                button:hover {
                    background: #016446;
                }
            }
        }
    }

    &_seal {
        background: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        position: relative;
        margin-left: -8px;

        &_body {
            width: 90vw;
            height: 95vh;
            margin-left: 5%;
            position: absolute;

            > .product-image {
                margin-left: 25%;
                margin-top: 10%;
            }

            > .offer  {
                margin-top: 10%;

                h1 {
                    width: 343px;
                    height: 96px;
                    left: 54px;
                    top: 315px;
                    font-family: 'Inria Serif';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    text-align: center;
                    color: #B85D46;
                }

                h2 {
                    width: 343px;
                    top: 450px;
                    font-family: 'Inria Serif';
                    font-style: normal;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            > button {
                width: 80vw;
                height: 7vh;
                margin-left: 5%;
                margin-top: 20%;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                background: #B85D46;
                color: #FFFFFF;

                font-family: 'Inria Serif';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}

@media only screen and (max-width: 100px) {
    .page {
        background: red;
        &_contacts {
            background: red;

            &_body {
                background: red;

                > .header {
                    background: red;
                }
            }
        }
    }
}